<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<login xmlns="http://api.spreadshirt.net" xmlns:ns2="http://www.w3.org/1999/xlink">
    <username>{{apiLogin}}</username>
    <password>{{apiPassword}}</password>
</login>
